/* Header mobile*/

.nav-content img {
    width: 18em;
}

.nav-menu a {
    color: #1b7e46 !important;
}

.btn-hamburguesa {
    margin: auto;
}

/* contenido principal */


/* Seccion revista */

.container-quienes-somos {
    background-color: rgb(227, 239, 242);  
}


.title-revista h2 {
    background-color:#80b698;
    text-align: center;
    padding: 1.5rem;
}

.content-revista {
    padding: 60px 0px; 
    display: flex;
    justify-content: center;
}

/* Seccion Spot */
.spot-eco-barrier {
    text-align: center;
    margin-bottom: 40px;
}

.spot-eco-barrier h2 {
    background-color:#80b698;
    font-size: 2.5rem;
    padding: 2.5rem;
}

/* Seccion mapa */

.container-mapa {
    text-align: center;
    padding-bottom: 60px;
}
.container-mapa h2 {
    padding: 40px 0px;
}

.mapa-title {
    background-color: #80b698;
}

iframe {
    margin-top: 20px;
}

/* Footer mobile */

.container-footer {
    text-align: center;
}

.container-footer img {
    width: 22em;
}


@media (min-width:992px) {
    .nav-menu {
        display: flex;
        justify-content:right;
        padding-right: 20px;
    }
    .nav-menu a {
        font-size: 1.5rem;
        font-weight:500;
    }
    .nav-menu a:hover {
        color: #0e4727 !important;
        text-decoration: underline;
    }
    .navegador {
        height: 120px;
    }
    .navegador .container-fluid {
        flex-direction: row;
    }
    .carousel-change {
        max-height: 100vh;
    }
    .text-slider {
        position: absolute;
        bottom: 400px;
    }
    .text-slider h5 {
        font-size: 4rem;
    }
    .text-slider p {
        font-size: 2rem;
    }

    .title-revista h2 {
        background-color:#80b698;
        text-align: center;
        font-size: 2.5rem;
        padding: 1.5rem;
    }
    .mapa-title h2 {
        font-size: 2.5rem;
    }
}