/* Estilos mobile */

/* Header */

.navegador .container-fluid {
    display: flex;
    flex-direction: column;
}

.nav-content img {
    width: 18em;
}

.btn-hamburguesa {
    margin: auto;
}

/* contenido principal */


/* Seccion revista */

.container-quienes-somos {
    background-color: rgb(227, 239, 242);  
}

.text-revista h2 {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0px;
}

.content-revista {
    padding: 60px 0px; 
    display: flex;
    justify-content: center;
}

/* mapa */

.container-mapa {
    background-color:rgb(227, 239, 242) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-mapa h2 {
    padding-bottom: 40px;

}

.container-footer {
    background-color: #181a1a;
}


@media (min-width:992px) {
    .nav-menu {
        display: flex;
        justify-content:right;
        padding-right: 20px;
    }
    .navegador {
        height: 120px;
    }
    .navegador .container-fluid {
        flex-direction: row;
    }
    .carousel-change {
        height: 100vh;
    }
}